.about-highlight {
  background: #538dd7 !important;
  border: 2px solid #0d0c0e;
  border-radius: 1.5rem;
  padding: 1.25rem 1.5rem;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  color: #0d0c0e;
  font-family: 'Quicksand', Arial, sans-serif;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* slightly stronger shadow */
  font-weight: bold;
  opacity: 1; /* Ensures full opacity */
}

.heading-text {
  color: #0d0c0e !important;
}

