.card.home-card {
  border-radius: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #538dd7 !important;
  color: #000 !important; /* Ensure text is readable */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.home-card {
  background: #538dd7 !important;
  color: #000 !important;
  border-radius: 1.5rem;
  border: none;
}

.card.home-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card.home-card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0d0c0e;
}

.card.home-card .card-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.card.home-card .btn {
  background-color: #A1D99B !important;
  color: #000 !important;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
}

.card.home-card .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}
