.homepage-title {
  color: #0d0c0e;
  font-family: 'Quicksand', Arial, sans-serif;
}

.homepage-subtitle {
  color: #0d0c0e;
  font-family: 'Quicksand', Arial, sans-serif;
}

.homepage-banner-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 2rem;
  display: block;
  opacity: 1 !important; /* Ensures full opacity */
}
